<div class="grid-days">
    <div>
        <h3 class="day">Hoy</h3>
        <img src="" alt="">

        <div class="temperature">
            <div class="max">
                <h3>16°C</h3>
            </div>
            <div class="min">
                <h3>12°C</h3>
            </div>
        </div>
    </div>

    <div>       
        <h3 class="day">Mañana</h3>
        <img src="" alt="">

        <div class="temperature">
            <div class="max">
                <h3 *ngIf="gradeSystem === 'celsius'">16°C</h3>
                <h3 *ngIf="gradeSystem === 'fahrenheit'"></h3>
            </div>
            <div class="min">
                <h3>12°C</h3>
            </div>
        </div>
    </div>

    <div>
        <h3 class="day">Sáb 4</h3>
        <img src="" alt="">

        <div class="temperature">
            <div class="max">
                <h3>16°C</h3>
            </div>
            <div class="min">
                <h3>12°C</h3>
            </div>
        </div>
    </div>
    
</div>
